.projectDetail{
    background: #0B83DA;
    border-radius: 5px;
    margin-bottom:10px;
    box-shadow: 3px 2px 4px 2px silver; 
    }

.projectDetailsCol:hover{
    cursor: pointer;
    }

#kdkd{
    width: 69.37px;
height: 26px;
left: 643.31px;
top: 1597.76px;

font-family: Barlow;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 25px;
}

.projectDes:hover{
    cursor: all-scroll;
}

#subProp:hover{
    cursor: pointer;
}

.bmark:hover{
    background-color: aqua;
}
.projectDes{
    display:none; 
    background-color:#DAEFFE;
    padding:25px;
}

.projectDetailsCol{
padding:20px;
font-family: roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFBFB;
}

.heading{
font-family: roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* identical to box height */


color: #072662;
}

/*.projectData{
font-family: roboto;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #FFFBFB;
}*/
#rot{
width: 13.5px;
height: 13.5px;
margin-left:10px;
background: #F9B402;
transform: rotate(45deg);
margin-top: 0px;
}
#rec:hover{
    background: #F9B402;
    cursor: crosshair;
}
#rec{
width: 19.46px;
height: 53.26px;
margin-left:10px;
margin-bottom:0px;
background: #F9B402;
border-radius: 0px;
transform:translate(0px, 0px);
}

#proposal{
    border:0px;
}