#TopNav{
margin:0px;
height: 14vh;
left: 0px;
background: #0B83DA;
}

div{
  /*  border:1px solid black;*/
}

.hoverHand:hover{
  cursor: pointer;
}
.hoverHand{
  background: rgb(10, 116, 192);
  border: 0px;
}

#navbarTitle{
/*top: 3vh !important;*/
font-style: normal;
font-weight: bold;
font-size: 25px;


color: #FFFFFF;
}

#rightOfNav{

top: 3vh;

font-family: Barlow;
font-style: normal;
/*font-weight: 600;*/
font-size: 20px;
/*line-height: 29px;*/
/* identical to box height */


color: #FEFEFF;
}

button.r{
  background: transparent;
  border: 0px;
}
button:hover{
  cursor: auto;
}